header {
    padding: 20px;
    margin-bottom: 20px;
    width: max-content
    }
.container {
    font-size: x-large;
    font-family: 'Georgia', Times, Times New Roman, serif;    color: "";
    background-color: Teal;
    text-align: left;
    width: max-content;
 }
 body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 40px;     
    font-size: larger;
    background-color: white;
}  
title{
    background: #7fa3;
}
h1{
    font-size: medium
}
h2{
    font-size: medium;
}
h3{
    font-size: medium;
}